<div class="container-fluid">
	<div class="row">
		<app-navigation></app-navigation>
	</div>
</div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery1.jpg"/>
            </div>
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery2.jpg"/>
            </div>
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery7.jpg"/>
            </div>
            <div>
                <img class="img-fluid" src="assets/gallery10.jpg"/>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery3.jpg"/>
            </div>
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery4.jpg"/>
            </div>
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery8.jpg"/>
            </div>
            <div>
                <img class="img-fluid" src="assets/gallery11.jpg"/>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery5.jpg"/>
            </div>
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery6.jpg"/>
            </div>
            <div class="pb-4">
                <img class="img-fluid" src="assets/gallery9.jpg"/>
            </div>
            <div>
                <img class="img-fluid" src="assets/gallery12.jpg"/>
            </div>
        </div>
    </div>
</div>