$spacer: 1rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 6)
);

$btn-border-radius:  0rem;
$btn-border-radius-sm:  0rem;
$btn-border-radius-lg: 0rem;
$btn-padding-x: $spacer * 5;
$btn-padding-y: $spacer * 0.75;
$btn-border-width:  0.1rem;


$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;

$table-th-font-weight: normal;

@import "~bootstrap/scss/bootstrap";

@font-face{
  font-family: 'Lovelace';
  src: url('./assets/lovelace.otf');
}

@font-face{
  font-family: 'Themysion';
  src: url('./assets/Themysion.ttf');
}

@font-face{
  font-family: 'Garet';
  src: url('./assets/Garet-Book.otf');
}

.title-text{
  font-family: 'Lovelace';
  font-weight: 100;
  letter-spacing: 2rem;
}

.fancy-text{
  font-family: 'Lovelace';
  font-weight: 100;
  letter-spacing: 2px;
} 

.accent-text{
  font-family: 'Themysion';
}

.sub-text{
  font-family: 'Garet';
  font-weight: bold;
  letter-spacing:2px;
}

.paragraph-text{
  font-family: 'Garet';
  font-weight: light;
}

.navbar-toggler  {  border: none;  }

